* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: #2ebf91;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #249c78;
}

button.logout{
    background-color: #e74c3c;
}
button.logout:hover {
    background-color: #c0392b;
}

button.Begin{
    background-color: rgb(7, 181, 250);
}

button.Begin:hover {
    background-color: rgb(0, 162, 255);
}


@media (max-width: 500px) {
    .container {
        padding: 25px 20px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 10px 16px;
    }
}


 